<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Los_Alamos_Timeclock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="IP" value="184.154.225.11"></add>
    <add key="Port" value="3306"></add>
    <add key="Database" value="teamchro_LATSQL"></add>
    <add key="User" value="teamchro_user"></add>
    <add key="Password" value="chrono"></add>
  </appSettings>

  <userSettings>
    <Los_Alamos_Timeclock.Properties.Settings>
      <setting name="IP" serializeAs="String">
        <value />
      </setting>
      <setting name="Port" serializeAs="String">
        <value />
      </setting>
      <setting name="Database" serializeAs="String">
        <value />
      </setting>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="showCurrentEmployees" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="showPreviousEmployees" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="textColor" serializeAs="String">
        <value>ControlLightLight</value>
      </setting>
      <setting name="tableTextColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="tableGridColor" serializeAs="String">
        <value>ControlDark</value>
      </setting>
      <setting name="tableBackgroundColor" serializeAs="String">
        <value>AppWorkspace</value>
      </setting>
      <setting name="backgroundColor" serializeAs="String">
        <value />
      </setting>
      <setting name="backgroundImage" serializeAs="String">
        <value />
      </setting>
      <setting name="tablerow1Color" serializeAs="String">
        <value />
      </setting>
      <setting name="tablerow2Color" serializeAs="String">
        <value />
      </setting>
    </Los_Alamos_Timeclock.Properties.Settings>
  </userSettings>
</configuration>